<h1>글수정</h1>
<div class="col s4">
  <div class="card deep-purple darken-1">
    <div class="card-content white-text">
      <form action="/api/edit/{{edit.number}}" method="post">
        <input type="hidden" name="_method" value="PUT" />
        <input
          class="white-text"
          value="{{edit.writer}}"
          type="text"
          name="writer"
          id="writer"
          placeholder="사용자 이름을 입력하세요"
        />
        <input
          class="white-text"
          value="{{edit.title}}"
          type="text"
          name="title"
          id="title"
          placeholder="제목을 입력하세요"
        />
        <textarea
          name="body"
          id="body"
          cols="30"
          rows="10"
        >{{edit.body}}</textarea>
        <input type="submit" value="확인" class="btn" />
        <a href="/api/list" class="btn">취소</a>
      </form>
    </div>
  </div>
</div>