<form action="write" method="post">
  <input type="text" name="writer" id="writer" placeholder="사용자 이름을 입력하세요" />
  <input type="text" name="title" id="title" placeholder="제목을 입력하세요"/>
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <input type="submit" value="확인" />취소</input>
</form>